body {
    height: 3000px;
}

div {
    font-family: Roboto, Arial;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;

    background-color: black;
    color: white;

    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}