.ad {
    background-color: rgb(30, 30, 31);
    width: 390px;
}

.heading {
    font-family: Roboto;
    color: white;
    padding-left: 10px;
    font-size: 26px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.sub-heading {
    font-family: Roboto;
    color: rgb(151, 151, 150);
    padding-left: 10px;
    width: 370px;
    margin-top: 0px;
    padding-bottom: 20px;
}