.search-bar {
    font-family: Roboto;
    padding-left: 10px;
    width: 400px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
}